.container{
    display: flex;
    margin: 1rem 5rem;
}
.search{
    padding-left: 1rem;
    width: 33%;
    text-align: left;
}
.search_btn{
    background: transparent;
    border: none;
}
.search_btn:focus-visible{
    outline: none;
}
.header{
    width: 33%;
}
.header h2{
    margin: 0;
}
.link{
    width: 33%;
    text-align: right;
}


/* Media query */
@media screen and (max-width: 750px) {
    .container {
      display: block;
      text-align: center;
    }
    .search{
        display: flex;
        margin-bottom: 1rem;
    }
    .link, .header{
        text-align: center;
        width: 100%;
    }
}