.container{
    margin: 2% 6%;
}
.unordered_list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    text-align: center;
}
.link{
    text-decoration: none;
    color: var(--ast-global-color-3);
}
.link:focus, .link:focus-visible, .link:active, .link:hover{
    color: var(--ast-global-color-1);
}

/* Media query */
@media screen and (max-width: 700px) {
    .unordered_list li{
        flex: 0 0 33%;
        margin-bottom: 0.5rem;
    }
}