.shadow{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 8px 10px 0px;
    padding-bottom: 1rem;
}
.container{
    margin: 0% 5%;
}
.form{
    padding: 1%;
}
.image_container{
    text-align: left;
}
.submit{
    margin-top: 1rem;
    text-align: right;
}

/* Media query */
@media screen and (max-width: 700px) {
    .submit{
        margin: 1rem;
        text-align: center;
    }
}